.announcements{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @include media(992){
    margin-left: 15px;
    margin-right: 15px;
  }
  @include media($md){
    margin-left: 15px;
    margin-right: 15px;
  }
  @include media(667){
    margin-left: 0;
    margin-right: 0;
  }
  @include media($sm){
    margin-bottom: 0;
  }
}

.announcement{
  background: linear-gradient(0.69deg, #2C3A52 40.79%, rgba(44, 58, 82, 0) 98.48%), #2C3A52;
  backdrop-filter: blur(33px);
  border-radius: 18px;
  position: relative;
  max-width: 560px;
  width: 100%;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  &:nth-last-child(-n+2){
    margin-bottom: 0;
    @include media($md){
      margin-bottom: 20px;
    }
  }
  &:last-child{
    @include media($md){
      margin-bottom: 0;
    }
  }
  @include media($md){
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  &.active{
    border: 3px solid #FFD600;
    animation: openBorder 1s 1;
  }
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 5px 20px;
    @include media($sm){
      padding: 15px 15px 5px 15px;
    }
  }
  &-content{
    padding: 0 20px 20px 20px;
    @include media($sm){
      padding: 0px 15px 5px 15px;
    }
  }
  &__set{
    position: absolute;
    top: 11px;
    right: 18px;
    width: 18px;
    height: 18px;
    &-img{
      max-width: 100%;
    }
  }
  &__heart{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 25px;
    height: 21px;
    @include media($sm){
      bottom: 18px;
      right: 15px;
    }
    svg{
      max-width: 100%;
      height: 100%;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }
  &__p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: justify;
    color: #92A8D0;
    margin-bottom: 28px;
    cursor: pointer;
    @include media($md){
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 10px;
    }
  }
  &-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 26px 26px;
    @include media($sm){
      padding: 0 0 15px 15px;
    }
    &__item{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:not(:last-child){
        margin-right: 25px;
        @include media($sm){
          margin-right: 10px;
        }
      }
    }
    &__img{
      margin-right: 11px;
      @include media($sm){
        margin-right: 6px;
      }
    }
    &__p{
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #83FF6F;
      @include media(1100){
        font-size: 14px;
      }
    }
  }
}

@keyframes openBorder {
  0%{
    border: 3px solid transparent;
  }
  100%{
    border: 3px solid #FFD600;
  }
}