.menu{
  background: linear-gradient(134.32deg, #2C3A52 9.96%, #222D41 103.15%);
  border-radius: 18px;
  max-width: 250px;
  width: 100%;
  &__list{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
  }
  li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__link{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #C2D5F9;
    img{
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
    &.active{
      width: 100%;  
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: linear-gradient(171.01deg, #FA31E0 0%, #FFFFFF 86.34%), #A25DF0;
        box-shadow: 0px 0px 24px #A25DF0;
      }
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        animation: left-to-right 400ms 1;
        background: linear-gradient(90.57deg, #A25DF0 -502.15%, rgba(162, 93, 240, 0) 99.45%);
        left: 0;
        top: 0;
        z-index: 0;
      }
    }
  }
}


@keyframes left-to-right {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}