.mob-menu{
  display: none;
  position: fixed;
  z-index: 24;
  bottom: -100%;
  transition: 800ms ease;
  background: #394863;
  border-radius: 20px 20px 0 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  &.open{
    bottom: 0;
  }
  @include media(992){
    display: flex;
  }
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #A25DF0;
    padding-left: 20px;
    padding-top: 20px;
  }
  &__search{
    margin-left: 20px;
    background: #FFFFFF10;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 20px;
    padding-left: 10px;
    width: calc(100% - 40px);
    &-button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-input{
      width: 100%;
      margin-left: 8px;
      background: none;
      height: 32px;
      color: #fff;
      border: none;
      &::placeholder{
        color: #fff;
      }
    }
  }
}