.page-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__title{
    margin-right: 20px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120.5%;
    color: #FFFFFF;
    padding-bottom: 2px;
  }
}