.premium{
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  padding: 20px 20px 30px 20px;
  box-shadow: none;
  transition: box-shadow 0.4s ease-in-out;
  &-slide{
    border-radius: 18px;
    padding: 0 15px;
  }
  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-blocks{
    .slick{
      &-list{
        width: calc(100% + 30px);
        padding: 0 15px;
        margin-left: -15px;
        overflow: hidden;
        padding-bottom: 40px;
        padding-top: 40px;
      }
      &-track{
        justify-content: space-between;
        width: 100%;
      }
      &-slide{
        .premium-slide>.premium{
          box-shadow: none;
          transition: box-shadow 0.1s ease-in-out;
        }
      }
      &-slide.slick-active{
        &.premium-slide>.premium{
          box-shadow: 0px 4px 15px rgba(255, 214, 0, 0.15);
        }
      }
      &-dots{
        margin-top: -30px;
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        li{
          button{
            font-size: 0;
            width: 8px;
            height: 8px;
            background: #586066;
            margin: 0 4px;
            border-radius: 50%;
          }
        }
        .slick-active{
          button{
            background: #a2a6a9;
          }
        }
      }
    }
  }
  &-info{
    &__row{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:not(:last-of-type){
        margin-bottom: 6px;
      }
    }
    &__p{
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 143.6%;
      color: #FFFFFF;
      margin-left: 5px;
    }
  }
  &-content{
    margin-top: 11px;
    &__p{
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 120%;
      color: #FFFFFF;
    }
  }
}

.item-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__img{
    width: 57px;
    height: 57px;
    border-radius: 50%;
  }
  &__name{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 143.6%;
    color: #70FF00;
    margin-bottom: 5px;
    margin-right: 8px;
    &.white{
      color: #fff;
    }
  }
  &__avatar{
    position: relative;
    width: 57px;
    height: 57px;
    margin-right: 9px;
  }
}

.stars{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__num{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.6%;
    color: #FFD600;
    margin-left: 5px;
  }
}

.status{
  position: absolute;
  bottom: -4px;
  right: -6px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.online_status{
    border: 2px solid #42FF00;
    border-radius: 50%;
  }
  &.offline_status{
    border: 2px solid #FF0000;
    border-radius: 50%;
  }
  &.online_unstatus{
    background: #42FF00;
    border: 2px solid #2C3A52;
    border-radius: 50%;
    width: 14px;
    height: 14px;    
    bottom: 2px;
    right: -2px;
  }
  &.offline_unstatus{
    background: #FF0000;
    border: 2px solid #2C3A52;
    border-radius: 50%;
    width: 14px;
    height: 14px;    
    bottom: 2px;
    right: -2px;
  }
}

@keyframes openShadow {
  from{
    box-shadow: 0px 0px 0px rgba(255, 214, 0, 0.15);
  }
  to{
    box-shadow: 0px 4px 15px rgba(255, 214, 0, 0.15);
  }
}