.profile{
  background: linear-gradient(134.32deg, #2C3A52 9.96%, #222D41 103.15%);
  border-radius: 18px;
  margin-bottom: 50px;
  margin-top: 40px;
  @include media($sm){
    margin-left: -15px;
    width: calc(100% + 30px);
    margin-top: 0;
    margin-bottom: 0;
  }
  &-wrapper{
    @include media($sm){
      .page-info{
        display: none;
      }
    }
  }
  &__banner{
    backdrop-filter: blur(13px);
    border-radius: 19px;
    padding: 100px 30px 30px 60px;
    @include media(1550){
      padding: 50px 20px 30px 20px;
    }
    &-top{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      position: relative;
      @include media(1500){
        margin-bottom: 60px;
      }
      @include media(1400){
        margin-bottom: 30px;
      }
      @include media(1200){
        margin-bottom: 60px;
      }
      @include media($md){
        margin-bottom: 100px;
      }
    }
    &-image{
      width: 146px;
      height: 146px;
      border-radius: 50%;
      overflow: hidden;
      @include media(500){
        width: 58px;
        height: 58px;
      }
    }
    &-img{
      max-width: 100%;
      object-fit: cover;
    }
    &-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 20px;
      @include media(400){
        margin-left: 10px;
      }
    }
    &-title{
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 120%;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      @include media(500){
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        color: #27E617;
        margin-bottom: 2px;
      }
      img{
        margin-left: 5px;
      }
    }
    &-balance{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: right;
      color: #869cc2;
      margin-bottom: 15px;
      @include media(500){
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 2px;
      }
      .green{
        color: #83ff6e;
        margin-right: 3px;
      }
      .yellow{
        color: #ffd600;
        margin-left: 3px;
        margin-right: 8px;
      }
      &-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-of-type{
          margin-right: 6px;
        }
      }
    }
    &-stars{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-img{
        height: 20px;
        margin-right: 8px;
        @include media(500){
          height: 14px;
        }
      }
      &-p{
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 140%;
        color: #FFD600;
        @include media(500){
          font-size: 15px;
        }
      }
    }
    &-row{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 11px;
      @include media(1500){
        position: absolute;
        left: 0;
        bottom: -40px;
      }
      @include media(1400){
        position: static;
      }
      @include media(1200){
        position: absolute;
      }
      @include media($md){
        flex-wrap: wrap;
        bottom: -80px;
      }
    }
    &-col{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include media($md){
        width: 50%;
      }
      &:not(:last-child){
        margin-right: 20px;
        @include media($md){
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
      &-img{
        height: 18px;
        margin-right: 6px;
      }
      &-p{
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
        @include media(356){
          font-size: 12px;
        }
      }
    }
    &-btns{
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      @include media($md){
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
    &-btn{
      width: 200px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;    
      background: #3B4C6A;
      border-radius: 6px;
      z-index: 1;
      @include media(410){
        font-size: 11px;
      }
      &:not(:last-child){
        margin-right: 13px;
        @include media($md){
          margin-right: 0;
          width: calc(50% - 10px);
          margin-bottom: 10px;
        }
        @include media(450){
          width: calc(50% - 4px);
        }
      } 
      &:last-child{
        @include media($md){
          width: 100%;
        }
      }
      &.violet{
        background: #A25DF0;
      } 
    }
  }
  &__content{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 60px 70px 60px;
    @include media(1550){
      padding: 30px 20px 20px 20px;
    }
  }
  &__review{
    width: calc(50% - 30px);
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    margin-bottom: 40px;
    @include media(1600){
      width: calc(50% - 7.5px);
      margin-bottom: 15px;
    }
    @include media($md){
      width: 100%;
    }
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
      @include media($md){
        margin-bottom: 15px;
      }
    }
    &:last-of-type{
      @include media($md){
        margin-bottom: 0;
      }
    }
    &.success{
      background: linear-gradient(31.46deg, #83FF6F -84.93%, rgba(40, 52, 74, 0) 83.54%), #354460;
    }
    &.fail{
      background: linear-gradient(31.46deg, #FF6464 -84.93%, rgba(40, 52, 74, 0) 83.54%), #354460;
    }
    &-top{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-content{
      margin-left: 10px;
      width: 100%;
    }
    &-title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 143.6%;
      color: #FFFFFF;
      margin-bottom: 15px;
      img{
        height: 23px;
        margin-left: 5px;
        @include media(1100){
          height: 18px;
        }
      }
    }
    &-row{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:first-of-type{
        margin-right: 14px;
        @include media(1200){
          display: none;
        }
        @include media(992){
          display: flex;
        }
        @include media(400){
          display: none;
        }
      }
      img{
        height: 15px;
        margin-right: 5px;
      }
      p{
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 143.6%;
        color: #FFFFFF;
      }
    }
    &-p{
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      color: #FFFFFF;
      margin-top: 15px;
    }
  }
}