*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Manrope', sans-serif;
  &:focus,&:active{
    outline: none;
  }
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: transparent;
  padding-top: 20px;
}
::-webkit-scrollbar-thumb {
  background: #5C6F90;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #5C6F90;
}
::-webkit-scrollbar-thumb:hover {
  background: lighten(#5C6F90, 15%);
  border: 4px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active {
  background: darken(#5C6F90, 5%);
  border: 4px solid transparent;
  background-clip: padding-box;
}
body{
  background: #222D41;
  color: #fff;
  overflow-y: scroll;
}
button{
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
}
input{
  font-family: inherit;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include media($sm){
    padding: 20px 15px 100px 15px;
  }
}
.main{
  padding-left: 40px;
  padding-right: 40px;
  max-width: calc(100% - 550px);
  @include media(1400){
    max-width: calc(100% - 250px);
    padding-right: 0;
  }
  @include media(992){
    max-width: 100%;
    padding-left: 0;
  }
}
.left-sideber{
  @include media(992){
    display: none;
  }
}
.btn{
  background: linear-gradient(0deg, #A25DF0, #A25DF0), #A25DF0;
  border-radius: 6.94737px;
  padding: 10px 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16.2105px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.ripple{ 
  position: relative;
  overflow: hidden;
  z-index: 1;
  span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear 1;
    z-index: -1;
  }
}
.dropdown{
  position: relative;
  &__button{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120.5%;
    color: #E8EFFF;
    padding: 10px 18px;
    border: 2.50909px solid #5C6F90;
    box-sizing: border-box;
    border-radius: 7.52727px;
    position: relative;
    @include media($sm){
      font-size: 14px;
    }
    span{
      position: absolute;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 120.5%;
      color: #FFFFFF;
      background: #222D41;
      top: -10px;
      left: 10px;
      padding: 0 8px;
    }
    &.active{
      &~.dropdown__list{
        display: flex;
      } 
    }
    &-arrow{
      margin-left: 50px;
      @include media($sm){
        margin-left: 10px;
      }
    }
  }
  &__list{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    background: #2c3a52;
    border-radius: 7.52727px;
    list-style-type: none;
    width: 100%;
    padding: 15px 0px;
    z-index: 25;
  }
  &__li{
    width: 100%;
  }
  &__link{
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    width: 100%;
    padding: 10px;
    background: #2c3a52;
    text-align: center;
    &:hover{
      background: lighten(#2c3a52, 10%);
    }
  }
}

.slick{
  &-list{
    overflow: hidden;
  }
  &-track{
    display: flex;
  }
}

.rouble{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120.5%;
  text-align: right;
  color: #83FF6F;
}

.chk{
  position: relative;
  input{
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    &:checked{
      &~.chk-i{
        &::before{
          transform: scale(1);
        }
      }
    }
  }
  &-i{
    border: 2px solid #5C6F90;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 25px;
    min-height: 25px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 15px;
      height: 15px;
      background: #5C6F90;
      border-radius: 2px;
      transform: scale(0);
      transition: 200ms cubic-bezier(0.68,-0.55,0.265,1.55);
    }
  }
}

.mb-18{
  margin-bottom: 18px;
}

label{
  cursor: pointer;
}



@keyframes animate {
  0%{
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100%{
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}