*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Manrope', sans-serif;
  &:focus,&:active{
    outline: none;
  }
}
body{
  background: #222D41;
  color: #fff;
}
button{
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}
input{
  font-family: inherit;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main{
  flex: 1;
  padding-left: 60px;
  padding-right: 40px;
}
.btn{
  background: linear-gradient(0deg, #A25DF0, #A25DF0), #A25DF0;
  border-radius: 6.94737px;
  padding: 10px 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16.2105px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  text-decoration: none;
}
.ripple{ 
  position: relative;
  overflow: hidden;
  z-index: 1;
  span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .5s linear 1;
    z-index: -1;
  }
}
@keyframes animate {
  0%{
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100%{
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}