include item-info.pug
mixin announcement(bg)
  .announcement
    .announcement-top
      +item-info('avatar', '@MegaDupka', 'yes', 'no', 'yes')
      .premium-info 
        .premium-info__row 
          img(src="images/money.svg", alt="money").premium-info__img
          p.premium-info__p 5000₽
        .premium-info__row 
          img(src="images/discussion.svg", alt="money").premium-info__img
          p.premium-info__p 450
          



mixin announcements()
  .announcements 
    +announcement('item-bg-2')
    +announcement('item-bg-2')