mixin deal()
  aside.deal
    p.deal__title Активность платформы
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont завершена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.
    .deal__item 
      p.deal__item-p Сделка @darkbiz и @loxmamont отменена. Сумма: 6029Р.

