mixin stars(num)
  .stars 
    img(src="images/stars.svg", alt="stars").stars__img
    p.stars__num #{num}


mixin item-info(img, username, status, online, verified, color="green")
  .item-info 
    .item-info__avatar
      <img src="images/#{img}.png" class="item-info__img" />
      if status === 'yes' && online === 'no'
        .status.offline
          img(src="images/status-active.svg", alt="active status").status-active
      if status === 'yes' && online === 'yes'
        .status.online_status   
          img(src="images/status-active.svg", alt="active status").status-active
      if status === 'no' && online === 'yes'
        .status.online_unstatus 
      if status === 'no' && online === 'no'
        .status.offline_unstatus 
    .item-info__content
      .item-info__row
        if color === 'green'
          p.item-info__name #{username}
        else  
          p.item-info__name.white #{username}
        if verified === 'yes'
          img(src="images/verified.svg", alt="verified")
      +stars(4.40)
