mixin page-info(title, btn, drop)
  .page-info 
    .page-info__left
      h1.page-info__title #{title}
      if title === 'FAQ' && btn !== ''
        button(type="button" onclick="openFaqPopup()").btn.page-info__btn.ripple #{btn}
      if title === 'Благотворительность' && btn !== ''
        button(type="button" onclick="openCharityPopup()").btn.page-info__btn.ripple #{btn}
      if title === 'Маркет' && btn !== ''
        button(type="button" onclick="openMarketPopup()").btn.page-info__btn.ripple #{btn}
    if drop === 'drop1'
      .dropdown 
        button(type="button" onclick="openDrop(this)").dropdown__button 
          span Категория
          | Все объявления
          img(src="images/arrow.svg", alt="arrow").dropdown__button-arrow
        ul.dropdown__list 
          li.dropdown__li 
            a(href="#!").dropdown__link Все объявления
          li.dropdown__li 
            a(href="#!").dropdown__link Все объявления
    if drop === 'drop2'
      .dropdown 
        button(type="button" onclick="openDrop(this)").dropdown__button 
          span Категория
          | Все сделки  
          img(src="images/arrow.svg", alt="arrow").dropdown__button-arrow 
        ul.dropdown__list 
          li.dropdown__li 
            a(href="#!").dropdown__link Все сделки
          li.dropdown__li 
            a(href="#!").dropdown__link Все сделки
    if drop === 'drop3'
      .dropdown 
        button(type="button" onclick="openDrop(this)").dropdown__button 
          span Категория
          | Все пользователи
          img(src="images/arrow.svg", alt="arrow").dropdown__button-arrow
        ul.dropdown__list 
          li.dropdown__li 
            a(href="#!").dropdown__link Все пользователи
          li.dropdown__li 
            a(href="#!").dropdown__link Все пользователи