mixin statistics()
  .statistics
    p.statistics__title Статистика
    ul.statistics__list 
      li.statistics__li Всего пользователей: <span>1300</span>
      li.statistics__li Регистраций сегодня: <span>1300</span>
    ul.statistics__list.border 
      li.statistics__li Объявлений: <span>1300</span>
    ul.statistics__list 
      li.statistics__li Всего проведено сделок: <span>1300</span>
      li.statistics__li Самая крупная сделка: <span>1300</span>
      
    