doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Document
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    include components/pageinfo.pug 
    include components/statistics.pug 
    include components/deal.pug 
    include components/menu.pug 
    include components/premium-block.pug 
    include components/announcements.pug 
    include components/mob-menu.pug 
    include components/popups.pug 
    +header
    +mob-menu
    .wrapper.home 
      aside.left-sideber 
        +menu('index')
        +statistics()
      main.main 
        +page-info('Маркет', 'Добавить', 'drop1')
        +premium-blocks(3) 
        +announcements()
      +deal()
    +fixed-menu('index')
    +popups()
    .popup.market-popup
      .popup__body 
        .popup__content 
          .popup__inner 
            h2.faq-popup__title.popup__title Разместить обьявление
              button(type="button" onclick="closePopup()").popup__close 
                svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M13.1906 4.70532L8.94685 8.99392L4.75004 13.2351" stroke="#222628" stroke-width="1.4" stroke-linecap="round")
                  path(d="M4.70532 4.75L8.97023 8.97026L13.2351 13.1905" stroke="#222628" stroke-width="1.4" stroke-linecap="round")
            form.popup__form(action="")
              p.popup__small Фон объявления: 
              .popup__images 
                .popup__images-item
                  input(type="radio" name="popup-images")
                  img(src="images/fon-1.png", alt="").popup__img
                .popup__images-item
                  input(type="radio" name="popup-images")
                  img(src="images/fon-2.png", alt="").popup__img
                .popup__images-item
                  input(type="radio" name="popup-images")
                  img(src="images/fon-3.png", alt="").popup__img
                .popup__images-item
                  input(type="radio" name="popup-images")
                  img(src="images/fon-4.png", alt="").popup__img
                .popup__images-item
                  input(type="radio" name="popup-images")
                  img(src="images/fon-5.png", alt="").popup__img
                .popup__images-item
                  input(type="file")
                  img(src="images/add-fon.svg", alt="").popup__img
              .popup__inputs
                input(type="text" maxlength="64" required).popup__input.in-3
                span Заголовок
              p.faq-popup__calc.symbols-3 42/64
              .popup__inputs
                textarea(maxlength="64" required).popup__input.in-4.popup__textarea.small
                span Краткое описание
              p.faq-popup__calc.symbols-4 42/64
              .popup__inputs
                textarea(maxlength="64" required).popup__input.in-5.popup__textarea
                span Полное описание
              p.faq-popup__calc.symbols-5 42/64
              .dropdown.popup__dropdown 
                button(type="button" onclick="openDrop(this)").dropdown__button.popup__dropdown-button 
                  span Категория
                  | Рефаунд отелей например
                  img(src="images/arrow.svg", alt="arrow").dropdown__button-arrow
                ul.dropdown__list 
                  li.dropdown__li 
                    a(href="#!").dropdown__link Рефаунд отелей например
                  li.dropdown__li 
                    a(href="#!").dropdown__link Рефаунд отелей например
              .popup__inputs.mb-18
                input(type="number" required).popup__input
                span Стоимость
                .rouble ₽
              .popup__row 
                .chk
                  input(type="checkbox" id="popupchk").popup__chk
                  .chk-i 
                label(for="popupchk") Не фиксированная сумма
              .popup__btns 
                button(type="button" anim="ripple").btn.ripple.popup__btn.gray.border АВТО-АП
                button(type="button" anim="ripple").btn.ripple.popup__btn.gray Выделить
              button(type="submit" anim="ripple").btn.ripple.popup__btn.popup__close Разместить объявление  
    .popup.market-content
      .popup__body 
        .popup__content 
          .popup__inner 
            .popup__top(style="background: linear-gradient(0.69deg, #303C52 40.79%, #303D52 42.68%, rgba(48, 60, 82, 0) 98.48%), url(images/item-bg-3.png) center / cover no-repeat, linear-gradient(0deg, #303C52, #303C52), #303C51") 
              +item-info('avatar', '@MegaDupka', 'no', 'yes', 'no', 'white') 
              button(type="button" onclick="closePopup()").popup__close 
                img(src="images/popup-close.svg", alt="")
              .popup-row 
                .popup-col
                  img(src="images/money.svg", alt="").popup-col__img
                  p.popup-col__p Депозит: 5000₽
                .popup-col
                  img(src="images/discussion.svg", alt="").popup-col__img
                  p.popup-col__p Сделки: 450
              h2.popup__title Ищу отель на сайте Expodia 5 звезд новый оплата наличными писать
              p.popup__category Категория: Отели
            .popup__inner-content
              .popup__ps
                p.popup__p Отель 5 звезд требуется очень сильно ищу помогив поиске я нахожусь в очень сильном поиске. <br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              .popup__btns 
                button(type="button" anim="ripple" onclick="offerCostPopup()").popup__btn.btn Предложить стоимость
                button(type="button" anim="ripple").popup__btn.btn Пожаловаться

    script(src="scripts/jquery.js") 
    script(src="scripts/slick.min.js") 
    script(src="scripts/calc-input.js") 
    script(src="scripts/index.js") 