doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    include components/premium-block.pug 
    include components/users.pug 
    include components/menu.pug
    include components/statistics.pug 
    include components/deal.pug 
    include components/pageinfo.pug 
    include components/mob-menu.pug 
    +header
    +mob-menu
    .wrapper
      aside.left-sideber  
        +menu('users')
        +statistics()
      main.main 
        +page-info('Пользователи', '', 'drop3')
        +premium-blocks(3) 
        +users
      +deal()

    script(src="scripts/jquery.js") 
    script(src="scripts/slick.min.js") 
    script(src="scripts/index.js")  